mt()
	margin-top: arguments
mb()
	margin-bottom: arguments
mr()
	margin-right: arguments
ml()
	margin-left: arguments

tt($Xposition, $Yposition)
	transform translate($Xposition, $Yposition)

fff($fz, $ff, $ls)
	font-size $fz
	font-family $ff
	letter-spacing  $ls
	font-weight normal

trn($time)
	transition all $time ease-out

br(arguments)
	border-radius arguments

pt()
	padding-top: arguments
pb()
	padding-bottom: arguments
pr()
	padding-right: arguments
pl()
	padding-left: arguments

ls()
	letter-spacing: arguments

icon($name)
	background-image: url("../icons/"$name)
	size: width($name) height($name)
iconB($name)
	position: relative
	&:before
		content: ""
		position: absolute
		icon($name)
iconA($name)
	position: relative
	&:after
		content: ""
		position: absolute
		icon($name)

baa()
	position: relative
	&:before
	&:after
		content: ''
		position: absolute


lh()
	line-height: arguments

fz()
	font-size: arguments

ffa()
	font-family: arguments

fw()
	font-weight: arguments

txtd()
	text-decoration: arguments

txta()
	text-align: arguments

txtt()
	text-transform: arguments

c()
	color: arguments