fLight = 300
fRegular = 400
fMedium = 500
fBold = 700 
fBlack = 900

cWhite = #ffffff
cBlack = #333333

cPink = #f3495e

cBlueDark = #3158d3
cBlueLight = #5077f1

// fBebas = "BebasNeue"
// fPro = "GothamPro"

@font-face
 	font-family: fPoppinsBold
 	font-weight: fBold
 	font-style: normal
 	src: url('../fonts/Poppins-Bold.ttf')

@font-face
 	font-family: fPoppinsRegular
 	font-weight: fRegular
 	font-style: normal
 	src: url('../fonts/Poppins-Regular.ttf')

@font-face
 	font-family: fPoppinsMedium
 	font-weight: fMedium
 	font-style: normal
 	src: url('../fonts/Poppins-Medium.ttf')

@font-face
 	font-family: fPoppinsSemiBold
 	font-style: normal
 	src: url('../fonts/Poppins-SemiBold.ttf')

body
html
	font-family fPoppinsMedium
	c cBlack