fLight = 300
fRegular = 400
fMedium = 500
fBold = 700 
fBlack = 900

cWhite = #ffffff
cBlack = #333333

cPink = #f3495e
cPinkL = #ecc7ca

cBlueDark = #0a4e5e
cBlueLight = #dfe9e9

cBlueSL = #f2f5f5

cYellow = #f39548
cPink = #eec9d1
cPinkDark = #af7599

gradient = linear-gradient(to right, rgba(172,126,182,1) 0%,rgba(241,146,188,1) 19%,rgba(254,203,75,1) 35%,rgba(254,242,138,1) 55%,rgba(161,209,173,1) 73%,rgba(125,185,232,1) 100%)

@font-face
	font-family: JournalSansNew
	font-style: normal
	src: url('../fonts/JournalSansNew/JournalSansNew.ttf')
	src: url("../fonts/JournalSansNew/JournalSansNew.eot?#iefix")format("embedded-opentype"),
	url("../fonts/JournalSansNew/JournalSansNew.woff") format("woff"),
	url("../fonts/JournalSansNew/JournalSansNew.ttf") format("truetype")

@font-face
	font-family: JournalSansNew-Bold
	font-style: normal
	src: url('../fonts/JournalSansNew-Bold/JournalSansNew-Bold.ttf')
	src: url("../fonts/JournalSansNew-Bold/JournalSansNew-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/JournalSansNew-Bold/JournalSansNew-Bold.woff") format("woff"),
	url("../fonts/JournalSansNew-Bold/JournalSansNew-Bold.ttf") format("truetype")

@font-face
	font-family: JournalSansNew-Display
	font-style: normal
	src: url('../fonts/JournalSansNew-Display/JournalSansNew-Display.ttf')
	src: url("../fonts/JournalSansNew-Display/JournalSansNew-Display.eot?#iefix")format("embedded-opentype"),
	url("../fonts/JournalSansNew-Display/JournalSansNew-Display.woff") format("woff"),
	url("../fonts/JournalSansNew-Display/JournalSansNew-Display.ttf") format("truetype")

@font-face
	font-family: JournalSansNew-Oblique
	font-style: normal
	src: url('../fonts/JournalSansNew-Oblique/JournalSansNew-Oblique.ttf')
	src: url("../fonts/JournalSansNew-Oblique/JournalSansNew-Oblique.eot?#iefix")format("embedded-opentype"),
	url("../fonts/JournalSansNew-Oblique/JournalSansNew-Oblique.woff") format("woff"),
	url("../fonts/JournalSansNew-Oblique/JournalSansNew-Oblique.ttf") format("truetype")

font-family: MyriadPro-Regular
	font-style: normal
	src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')
	src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
	url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype")



body
html
	font-family JournalSansNew
	c cBlack