@import ("../../libs/template/reset.css")
@import ("../../libs/template/lib")
@import ("../../libs/template/media")

@import ("libs/*.css")
@import ("fonts")
@import ("blocks/**/**")

*
	box-sizing border-box

html
	height 100%

body
	position relative
	overflow-x: hidden
	min-width 320px
	background: cWhite
	font-family: JournalSansNew
	min-height 100%
	&.overflow
		overflow hidden

#overlayer
	width 100%
	height 100%
	position fixed
	top 0
	left 0
	z-index 11
	background cBlack

.align-right
	float right
.align-left
	float left

p
	font-size 16px
	ffa(JournalSansNew)
	lh(24px)
	ls(1.25px)
	// c cBlueDark

.line-gradient
	height 4px
	width 100%
	background: gradient

i
	ff(JournalSansNew-Oblique)
	font-weight normal

.height-20
	height 20px
.height-28
	height 28px

// h1, h2, h3, h4, h5, h6
// 	font-family: fPoppinsSemiBold

// h1
// 	font-size 32px
// h2
// 	font-size 28px
// h3
// 	font-size 26px
// h4
// 	font-size 22px
// h5
// 	font-size 18px
// h6
// 	font-size 16px

.container
	box-sizing border-box
	max-width 1160px
	width 100%
	padding-left 10px
	padding-right 10px
	margin 0 auto

.container-big
	max-width 1280px
	width 100%
	padding-left 10px
	padding-right 10px
	margin 0 auto

.container-full
	max-width 1400px
	width 100%
	padding-left 20px
	padding-right 20px
	margin 0 auto

h3.heading-section__blue,
h3.heading-section__white
	ffa(JournalSansNew-Bold)
	font-size 28px
	text-transform uppercase
	ls(2.8px)
	a
		c cBlueDark
		text-decoration none
h3.heading-section__blue
	c cBlueDark
h3.heading-section__white
	c cWhite

h3.heading-small__blue,
h3.heading-small__white
	ffa(JournalSansNew-Bold)
	font-size 18px
	text-transform uppercase
	ls(2.5px)
	a
		c cBlueDark
		text-decoration none
h3.heading-small__blue
	c cBlueDark
h3.heading-small__white
	c cWhite


.link-back
	font-size 14px
	ffa(JournalSansNew-Display)
	ls(2.5px)
	c cBlueDark
	text-decoration none
	text-transform uppercase

.default-menu
	.default-list
		@media screen and (max-width: 600px)
			text-align center
		&__li
			display inline-block
		&__li:not(:last-child)
			margin-right 40px
			@media screen and (max-width: 600px)
				margin-right 20px
				margin-bottom 10px
			@media screen and (max-width: 480px)
				margin-right 10px
				margin-left 10px
		&__link
			font-size 14px
			ffa(JournalSansNew-Display)
			ls(2.5px)
			c cBlueDark
			text-transform uppercase

.wrap__share-social
	position relative
	text-align center
	&:before
		position absolute
		top 50%
		left 0
		display block
		content ""
		width 100%
		height 4px
		background: gradient
.share-social
	position relative
	display inline-block
	background: cWhite
	padding-left 30px
	padding-right 30px
	@media screen and (max-width: 768px)
		padding-left 15px
		padding-right 15px
	.share-center
		display flex
		flex-direction row
		align-items center
	span
		display inline-block
		font-size 18px
		ffa(JournalSansNew-Display)
		ls(2.5px)
		text-transform uppercase
		c cBlueDark
		padding-right 12px
		@media screen and (max-width: 768px)
			font-size 16px
	
	&__list
		display inline-block
		li
			display inline-block
			a
				display flex
				flex-direction row
				align-items center
				background: cBlueDark
				c cWhite
				padding 5px
				text-decoration none
				svg
					fill cWhite
					width 24px
					height 24px
					@media screen and (max-width: 768px)
						width 22px
						height 22px
				span
					display inline-block
					margin-left 10px
					c cWhite
					padding-right 0

.navigation-post
	display flex
	flex-direction row
	justify-content space-between
	.nav-post
		display flex
		align-items center
		a
			font-size 24px
			ffa(JournalSansNew)
			c cBlueDark
			text-decoration none

.gradient-border
	border: 2px solid transparent
	border-image: linear-gradient(to right, rgba(172,126,182,1) 0%,rgba(241,146,188,1) 19%,rgba(254,203,75,1) 35%,rgba(254,242,138,1) 55%,rgba(161,209,173,1) 73%,rgba(125,185,232,1) 100%)
	border-image-slice: 1