.button
	display inline-block
	min-width 95px
	height 30px
	line-height 30px
	text-align center
	c cBlueDark
	font-family JournalSansNew-Display
	font-size 10px
	text-decoration none
	background: cBlueLight
	border-radius 4px
	cursor pointer
	transition all .25s ease-out
	&:hover
		background: #f85f72
	@media screen and (max-width: 600px)
		font-size 12px
		