.button
	display inline-block
	min-width 110px
	height 34px
	line-height 32px
	text-align center
	c cBlueDark
	font-family JournalSansNew-Display
	font-size 14px
	text-decoration none
	background: cBlueLight
	border-radius 4px
	cursor pointer
	transition all .25s ease-out
	&:hover
		background: cBlueDark
		color cWhite
	@media screen and (max-width: 600px)
		font-size 12px

.botton-big
	display block
	ffa(JournalSansNew-Display)
	font-size 16px
	c cWhite
	text-decoration none
	min-height 46px
	lh(46px)
	ls(2.44px)
	text-align center
	background: cBlueDark

.button-popup
	font-size 12px
	ffa(JournalSansNew-Display)
	c cBlueDark
	background cBlueLight
	padding 10px 14px
	height 34px

.button-product
	display block
	min-width 200px
	ffa(JournalSansNew)
	font-size 16px
	c cBlueLight
	text-decoration none
	text-transform uppercase
	min-height 46px
	lh(46px)
	ls(2.5px)
	text-align center
	background: cBlueDark
	padding 0 20px
	cursor pointer
	&.button-disabled
		background: #9d9d9c
		c cBlueLight