.section--footer
	position absolute
	bottom 0
	left 0
	width 100%
	background: cBlueDark
	c cWhite
	padding-top 40px
	padding-bottom 70px
	// min-height 340px
	@media screen and (max-width: 768px)
		padding-bottom 30px
	.footer-head
		text-align center
		padding-bottom 30px
		margin-bottom 40px
		&__link
			display inline-block
			margin-bottom 20px
		&__svg
			fill cWhite
			width 30px
			height 30px
		&__name
			position relative
			c cWhite
			ffa(JournalSansNew-Bold)
			font-size 28px
			ls(2.5px)
			@media screen and (max-width: 480px)
				font-size 24px
			&:before
				position absolute
				bottom -30px
				left 50%
				display block
				content ""
				width 310px
				height 2px
				tt(-50%, 0)
				background gradient

	.footer-bottom
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content space-between
		max-width 880px
		padding-left 20px
		padding-right 20px
		margin 0 auto
		&__restaurants,
		&__adress,
		&__phone,
		&__email
			text-align center
			@media screen and (max-width: 768px)
				width 50%
				margin-bottom 40px
			@media screen and (max-width: 540px)
				width 100%
			h4
				font-size 16px
				ffa(JournalSansNew-Bold)
				ls(2.5px)
				text-transform uppercase
				margin-bottom 14px
			li:not(:last-child)
				margin-bottom 10px
			a, p
				display block
				c cWhite
				font-size 14px
				ffa(JournalSansNew)
				ls(1px)
				text-decoration none
				&:not(:last-child)
					margin-bottom 10px
		&__email
			position relative
			text-align: left
			padding-left 40px
			@media screen and (max-width: 768px)
				text-align center
				padding-left 0
			&:before
				position absolute
				top 0
				left 0
				content ""
				display block
				width 2px
				height 100%
				background: cWhite
				@media screen and (max-width: 768px)
					display none