extends layout.pug

block variable
	- var slideName = 'EVENTS'

block prepend header-one
	- var selected = 'index'
	include include/header

block prepend main
	svg.shape-overlays(viewbox='0 0 100 100', preserveaspectratio='none')
		path.shape-overlays__path
		path.shape-overlays__path
		path.shape-overlays__path

	+b.MAIN.section_main
		include include/_1section
		include include/_2section
		include include/_3section
		include include/_4section
		include include/_5section
		+b.SECTION.team-shop
			include include/_6section
			include include/_7section
		include include/_8section

	block prepend footer
		include include/footer
		
		//- +b.SECTION.new-section
		//- 	| Main
		//- a.button--call#create-cup-open
		//- 	| Button
		//- +e.SVG._icon.icon--svg.circle-svg
		//- 	USE(xlink:href="/img/sprite.svg#icon-circle")
		//- +e.SVG._icon.icon--svg.circle-svg
		//- 	USE(xlink:href="/img/sprite.svg#icon-people1")