include ../libs/bemto/bemto.pug

doctype html
html(lang="en")
	block head
		head
			title Activtrack

			meta(http-equiv="content-type", content="text/html; charset=UTF-8")
			meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
			meta(name='format-detection', content='telephone=no')
			link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
			link(rel="shortcut icon" href="img/favicon/apple-touch-icon.png" type="image/x-icon")
			link(rel="shortcut icon" href="img/favicon/apple-touch-icon-72x72.png" type="image/x-icon")
			link(rel="shortcut icon" href="img/favicon/apple-touch-icon-144x144.png" type="image/x-icon")

			link(rel="stylesheet", href="/css/index.css")

			meta(name="theme-color", content="#3158d3")
			meta(name="msapplication-navbutton-color", content="#3158d3")
			meta(name="apple-mobile-web-app-status-bar-style", content="#3158d3")

	body
		div#overlayer
		block header-one

		block header-two

		block header-blog

		block main
		
		block footer
			include include/footer

		.hidden
			+b.main-form.zoom-anim-dialog#popup-send
				+e.FORM.__submit.formValidate
					H2.heading-h2
						| Request Quote
					+e.items-input
						+e.LABEL().label Name
						+e.INPUT(name="text", placeholder="First and Last Name").input
					+e.items-input
						+e.LABEL().label E-Mail*
						+e.INPUT(name="text", placeholder="E-mail").input
					+e.items-input
						+e.LABEL().label Company name*
						+e.INPUT(name="text", placeholder="Company name").input
					+e.items-input
						+e.LABEL().label message
						+e.TEXTAREA(name="text", placeholder="How SwiftMotion can help you?").input
					+e.items-button
						button.button(type="submit") Request Quote

		block scripts
			script(src='https://unpkg.com/flipping@latest/dist/flipping.web.js')
			script(src='/js/shape-overlays.js')
			script(src='/js/scripts.js')