+b.SECTION.section-choice.choice_
	+e.__wrapper
		+e.__items
			+e.SPAN.__head BOOK NOW
			//- +e.H3.__name WILD FOOD CAFÉ
			+e.DIV.__logo-text
				img(src="img/logo-text1.svg" width="300")
			+e.P.__slogan NEAL’S YARD
			+e.P.__descript 1st Floor, Neal’s Yard, Covent Garden, WC2H 9DP
		+e.__items.pink-color
			+e.SPAN.__head BOOK NOW
			//- +e.H3.__name WILD FOOD CAFÉ
			+e.DIV.__logo-text
				img(src="img/logo-text2.svg" width="300")
			+e.P.__slogan ISLINGTON
			+e.P.__descript 269 - 270 Upper Street,  N1 2UQ