+b.SECTION.section--events
	+e.__wrapper.container
		h3.heading-section__blue #{slideName}
		.event-post--wrapper
			.owl-carousel.slider-events
				.item
					+b.event--item
						+e.A(href="#").__images
							img(src="img/event1.jpg", alt="Event")
						+b.DIV.event-content
							+e.H4.__heading FORAGING: HOW, WHEN AND WHERE
							+e.UL.__list
								li TALK |
								li April 16th |
								li 7-9pm
							+e.I.__desc Wild Food Cafe Islington
							+e.P.__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.
						+e.A(href="#").__event-button book
				.item
					+b.event--item
						+e.A(href="#").__images
							img(src="img/event2.jpg", alt="Event")
						+b.DIV.event-content
							+e.H4.__heading FORAGING: HOW, WHEN AND WHERE
							+e.UL.__list
								li TALK |
								li April 16th |
								li 7-9pm
							+e.I.__desc Wild Food Cafe Islington
							+e.P.__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.
						+e.A(href="#").__event-button book
				.item
					+b.event--item
						+e.A(href="#").__images
							img(src="img/event3.jpg", alt="Event")
						+b.DIV.event-content
							+e.H4.__heading FORAGING: HOW, WHEN AND WHERE
							+e.UL.__list
								li TALK |
								li April 16th |
								li 7-9pm
							+e.I.__desc Wild Food Cafe Islington
							+e.P.__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.
						+e.A(href="#").__event-button book
				.item
					+b.event--item
						+e.A(href="#").__images
							img(src="img/event1.jpg", alt="Event")
						+b.DIV.event-content
							+e.H4.__heading FORAGING: HOW, WHEN AND WHERE
							+e.UL.__list
								li TALK |
								li April 16th |
								li 7-9pm
							+e.I.__desc Wild Food Cafe Islington
							+e.P.__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.
						+e.A(href="#").__event-button book
				.item
					+b.event--item
						+e.A(href="#").__images
							img(src="img/event2.jpg", alt="Event")
						+b.DIV.event-content
							+e.H4.__heading FORAGING: HOW, WHEN AND WHERE
							+e.UL.__list
								li TALK |
								li April 16th |
								li 7-9pm
							+e.I.__desc Wild Food Cafe Islington
							+e.P.__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.
						+e.A(href="#").__event-button book
				.item
					+b.event--item
						+e.A(href="#").__images
							img(src="img/event3.jpg", alt="Event")
						+b.DIV.event-content
							+e.H4.__heading FORAGING: HOW, WHEN AND WHERE
							+e.UL.__list
								li TALK |
								li April 16th |
								li 7-9pm
							+e.I.__desc Wild Food Cafe Islington
							+e.P.__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.
						+e.A(href="#").__event-button book
