+b.SECTION.section--brends
	.container.brends-container
		+b.brends-item_
			+e.A(href="#").__images
				img(src="img/independent-logo-transparent.png", alt="")
			+e.__hidden
				a(href="#") read article
		+b.brends-item_
			+e.A(href="#").__images
				img(src="img/HnH-logo.png", alt="")
			+e.__hidden
				a(href="#") read article
		+b.brends-item_
			+e.A(href="#").__images
				img(src="img/Evening_Standard.png", alt="")
			+e.__hidden
				a(href="#") read article
		+b.brends-item_
			+e.A(href="#").__images
				img(src="img/Guardian.png", alt="")
			+e.__hidden
				a(href="#") read article