+b.SECTION.section--school
	+e.__wrapper.container
		h3.heading-section__white SCHOOL
		+b.school-content_
			+e.__text
				h3 COME AND LEARN WITH US
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus tempor. Phasellus vel magna at elit sagittis luctus eu condimentum augue. Sed placerat magna iaculis iaculis feugiat.
			ul.list-school
				li
					a(href="#") ALL COURSES
				li
					a(href="#") SHORT COURSES
				li
					a(href="#") RETREATS
				li
					a(href="#") CERTIFIED PROGRAMMES