+b.SECTION.section--team
	+b.wrapper-team.container
		+e.__item
			+e.__images
				img(src="img/team/team1.jpg", alt="")
			h4 JEMMA
			p.slog Head of Marketing
			p.desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.”
		+e.__item
			+e.__images
				img(src="img/team/team2.jpg", alt="")
			h4 Laura
			p.slog Brand Lead
			p.desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.”
		+e.__item
			+e.__images
				img(src="img/team/team3.jpg", alt="")
			h4 Lucy
			p.slog Head of Social
			p.desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.”
		+e.__item
			+e.__images
				img(src="img/team/team4.jpg", alt="")
			h4 Jeam-Luc
			p.slog Vibe Patrol
			p.desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.”
		+e.__item
			+e.__images
				img(src="img/team/team5.jpg", alt="")
			h4 Christopher
			p.slog Head Chef
			p.desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.”
		+e.__item
			+e.__images
				img(src="img/team/team6.jpg", alt="")
			h4 Jim
			p.slog Menu Developer
			p.desc “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus.”