+b.SECTION.section--shop
	+b.wrapper-shop.container
		h3.heading-section__blue Shop
		+b.DIV.shop-content
			+b.DIV.shop-text_
				+e.P.__slogan FEATURED PRODUCT
				+e.H3.__name WILD FOOD CAFE TOTE
				+e.P.__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fnibus pretium felis at dignissim. Morbi vel leo non est luctus tempor. Phasellus vel magna at elit sagittis luctus eu condimentum augue. Sed placerat magna iaculis iaculis feugiat.
				a(href="#").link-more FIND OUT MORE
			+e.__images
				img(src="img/shop-img.jpg", alt="Shop Images")