+b.SECTION.section--sellers
	+b.wrapper-sellers.container
		h3 BEST SELLERS
		+b.DIV.sellers-content_
			+e.__item
				a(href="#").wrap-img__seller
					img(src="img/sellers/sellers1.jpg", alt="")
				a(href="#").link-seller Goji Berries
				span.price £30.83
			+e.__item
				a(href="#").wrap-img__seller
					img(src="img/sellers/sellers2.jpg", alt="")
				a(href="#").link-seller Incan Berries
				span.price £30.49
			+e.__item
				a(href="#").wrap-img__seller
					img(src="img/sellers/sellers3.jpg", alt="")
				a(href="#").link-seller MSM Pure Crystal Capsules
				span.price £19.99
			+e.__item
				a(href="#").wrap-img__seller
					img(src="img/sellers/sellers4.jpg", alt="")
				a(href="#").link-seller Goji Berries
				span.price £30.83
			+e.__item
				a(href="#").wrap-img__seller
					img(src="img/sellers/sellers5.jpg", alt="")
				a(href="#").link-seller Incan Berries
				span.price £30.49
			+e.__item
				a(href="#").wrap-img__seller
					img(src="img/sellers/sellers6.jpg", alt="")
				a(href="#").link-seller MSM Pure Crystal Capsules
				span.price £19.99