+e.DIV.__items
	+e.A(href="#").__images
		img(src="img/small-post.jpg", alt="")
	+e.H3.__heading
		a(href="#") AISTE & JOEL NEWS
	+e.SPAN.__date 12 FEBRUARY 2019
	+e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus pretium felis at dignissim. Morbi vel leo non est luctus tempor. Phasellus vel magna at elit sagittis luctus eu condimentum augue. Sed placerat magna iaculis iaculis feugiat.