+b.DIV.recipes-item_
	+e.A(href="recipes-post.html").__images
		img(src="img/recipes1.jpg", alt="")
	+links('TRUFFLE, MUSHROOM AND ROSEMARY PIZZA', 'recipes-post.html')(class="__name")
	+e.SPAN.__date | 12 FEBRUARY 2019