+b.DIV.filter-product_
	.link-all
		a(href="cart-step1.html").link-all__button-light.is-active Basket
	.link-all
		a(href="cart-step2.html").link-all__button-light DELIVERY DETAILS
	.link-all
		a(href="cart-step3.html").link-all__button-light PAYMENT
	.link-all
		a(href="cart-step4.html").link-all__button-light CONFIRMATION