+b.FOOTER.footer
	.container.flex-wrapper
		.footer-left
			+b.DIV.logo-foot_
				+e.A(href="#").__link
					+e.IMG.__img(src="img/logo-footer.png", alt="Logo Footer Activtrack")
			+b.NAV.nav-footer_
				+e.UL.__list
					+e.LI.__list-li
						a(href="#") Products
					+e.LI.__list-li
						a(href="#") Blog
					+e.LI.__list-li
						a(href="#") Contact Us
		.copyright
			p
				| © 2019 ActiveTrack