+b.HEADER(style="background-image: url(img/bg-blog.jpg);").header-blog_.top-line__white
	include top-line
	
	.blog-header__content
		.container.flex-wrapper
			h1
				| “It’s founded on a strong 
				br
				| sense of community and the 
				br
				| coming together of people”
			p.name-blog The Vegan Edit