+b.SECTION.section--blog
	.container
		+b.wrapper-blog.blog_
			+e.__items
				p
					| “I was about to ask for the allergy menu when I realised absolutely everything on the menu is vegan, gluten, wheat and refined sugar free. Not one for a burger and fries? Me either, but just glancing at the olive, shiitake and quinoa burger .....
				p.names The Healthista
				span.date 13.03.19
				a(href="#").read READ IN FULL
			+e.__items
				p
					| “I was about to ask for the allergy menu when I realised absolutely everything on the menu is vegan, gluten, wheat and refined sugar free. Not one for a burger and fries? Me either, but just glancing at the olive, shiitake and quinoa burger .....
				p.names The Vegan Edit
				span.date 13.03.19
				a(href="#").read READ IN FULL
			+e.__items
				p
					| “I was about to ask for the allergy menu when I realised absolutely everything on the menu is vegan, gluten, wheat and refined sugar free. Not one for a burger and fries? Me either, but just glancing at the olive, shiitake and quinoa burger .....
				p.names About Time Magazine
				span.date 13.03.19
				a(href="#").read READ IN FULL
			+e.__items
				p
					| “I was about to ask for the allergy menu when I realised absolutely everything on the menu is vegan, gluten, wheat and refined sugar free. Not one for a burger and fries? Me either, but just glancing at the olive, shiitake and quinoa burger .....
				p.names About Time Magazine
				span.date 13.03.19
				a(href="#").read READ IN FULL
			+e.__items
				p
					| “I was about to ask for the allergy menu when I realised absolutely everything on the menu is vegan, gluten, wheat and refined sugar free. Not one for a burger and fries ...
				p.names About Time Magazine
				span.date 13.03.19
				a(href="#").read READ IN FULL
			+e.__items
				p
					| “I was about to ask for the allergy menu when I realised absolutely everything on the menu is vegan, gluten, wheat and refined sugar free. Not one for a burger and fries? Me either, but just glancing at the olive, shiitake and quinoa burger .....
				p.names About Time Magazine
				span.date 13.03.19
				a(href="#").read READ IN FULL
		+b.view-all_
			+e.a(href="#").__link View All